<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.mainMapper">
	<select id="getRaidBoardList" parameterType="raidBoardModel" resultType="raidBoardModel">
		SELECT BOARD_ID AS boardId
			 , CONTENT AS content
			 , DEADLINE AS deadLine
			 , DEFFICULT_CD AS defficultCd
			 , DEFFICULT_NM AS defficultNm
			 , DISCORD_USE AS discordUse
			 , DUNGEON_DIV_CD AS dungeonDiv
			 , DUNGEON_DIV_NM AS dungeonDiv
			 , GATE_NUM AS geteNum
			 , ID AS id
			 , PARTY_URL AS partyUrl
			 , PERSON_NUM AS personNum
			 , PRO_DIV_CD AS proDivCd
			 , PRO_DIV_NM AS proDivNm
			 , REG_DATE AS regDate
			 , START_DATE AS startDate
			 , TAG_DIV_FIR AS tagDivFir
			 , TAG_DIV_SEC AS tagDivSEC
			 , TAG_DIV_THR AS tagDivTHR
			 , TITLE AS title
			 , RAID_DIV_CD AS raidDivCd
			 , RAID_DIV_NM AS raidDivNm
			 , VIEW_COUNT AS viewCount
		  FROM PROJECTTEAMDB.raid_board_table
		 WHERE 1=1
		   AND TAG_DIV_SEC=#{pagingNum};
		   
		 
	</select>
	
	<select id="getRaidHotBoardList" resultType="raidBoardModel">
		SELECT BOARD_ID AS boardId
			 , CONTENT AS content
			 , DEADLINE AS deadLine
			 , DEFFICULT_CD AS defficultCd
			 , DEFFICULT_NM AS defficultNm
			 , DISCORD_USE AS discordUse
			 , DUNGEON_DIV_CD AS dungeonDiv
			 , DUNGEON_DIV_NM AS dungeonDiv
			 , GATE_NUM AS geteNum
			 , ID AS id
			 , PARTY_URL AS partyUrl
			 , PERSON_NUM AS personNum
			 , PRO_DIV_CD AS proDivCd
			 , PRO_DIV_NM AS proDivNm
			 , REG_DATE AS regDate
			 , START_DATE AS startDate
			 , TAG_DIV_FIR AS tagDivFir
			 , TAG_DIV_SEC AS tagDivSEC
			 , TAG_DIV_THR AS tagDivTHR
			 , TITLE AS title
			 , RAID_DIV_CD AS raidDivCd
			 , RAID_DIV_NM AS raidDivNm
			 , VIEW_COUNT AS viewCount
		  FROM 
		  (
		  	SELECT *
		  	  FROM PROJECTTEAMDB.raid_board_table
		  	 ORDER BY VIEW_COUNT DESC
		  )
		 WHERE ROWNUM <![CDATA[<=]]> 30
	</select>
</mapper>