<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.mainMapper">
	<select id="selectWeekHotBoardList" resultType="raidBoardModel">
		SELECT board_id AS boardId
			 , content AS content
			 , deadLine AS deadLine
			 , defficult_cd AS defficultCd
			 , defficult_Nm AS defficultNm
			 , discord_use AS discordUse
			 , dungeon_div_cd AS dungeonDiv
			 , dungeon_div_nm AS dungeonDiv
			 , gate_num AS geteNum
			 , id AS id
			 , party_url AS partyUrl
			 , person_num AS personNum
			 , pro_div_cd AS proDivCd
			 , pro_div_nm AS proDivNm
			 , reg_date AS regDate
			 , start_date AS startDate
			 , tag_div AS tagDiv
			 , title AS title
		  FROM PROJECTTEAMDB.raid_board_table
	</select>
</mapper>